/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_1 {
			gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};
	};

	gps_pwr: gps_pwr {
		compatible = "regulator-fixed";
		regulator-name = "gps_pwr";
		enable-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
	};

	aliases {
		green-led = &green_led;
		modem-uart = &uart0;
		modem = &modem;
	};
};

&uart0 {
	status = "okay";
	modem: modem {
		status = "okay";
		compatible = "quectel,bg95";
		mdm-power-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};
};

&uart1 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
