# Copyright (c) 2025 RAKwireless Technology Co., Ltd. <www.rakwireless.com>
# Sercan Erat <sercanerat@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_RAK3112
	select SOC_ESP32S3_WROOM_N16R8
	select SOC_ESP32S3_PROCPU if BOARD_RAK3112_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_RAK3112_ESP32S3_APPCPU
