/ {
	aliases {
		test-uart = &usart2;
	};
};

&lpuart1 {
	status = "disabled";
};

&usart1 {
	status = "disabled";
};

&usart2 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
};
