/ {
	aliases {
		test-uart = &uart0;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart1 {
	status = "disabled";
};

&pinctrl {
	uart0_default: uart0_default {
		group1 {
			pinmux = <UART0TX_P39>;
		};
		group2 {
			pinmux = <UART0RX_P40>;
			input-enable;
		};
	};
	uart0_sleep: uart0_sleep {
		group1 {
			pinmux = <UART0TX_P39>;
			low-power-enable;
		};
		group2 {
			pinmux = <UART0RX_P40>;
			low-power-enable;
		};
	};
};
